<header id="header">
    <ul id="menu-bar-list">

        <%if(!locals.user){%>

            <li>
                <a href="/users/sign-in" class="menu-btn"> Login</a>
            </li>

            <li>
                <a href="/users/sign-up" class="menu-btn">Sign UP </a>
            </li>

            <%}else{%>

                <li>
                    <a class="menu-btn" href="http://localhost:8394/">Home</a>
                </li>

                <li>
                    <a class="menu-btn" href="http://localhost:8394/batches/<%=locals.user.id%>">Batches</a>
                </li>

                <li>
                    <a class="menu-btn" href="http://localhost:8394/students/" onclick="">Students</a>
                </li>

                <li>
                    <a class="menu-btn" href="http://localhost:8394/interviews/">Interview</a>
                </li>

                <li>
                    <a class="menu-btn">Job List</a>
                </li>

                <!--
                    <li>
                    <button class="menu-btn" id="downloads-btn">Downloads</button>
                </li>
                -->

                <li>
                    <a class="menu-btn" href="http://localhost:8394/csv/download">Download</a>
                </li>

                <li>
                    <a href="/users/sign-out" class="menu-btn">Logout</a>
                </li>

                <%}%>

    </ul>
</header>