<form class="forms" action="/users/create" method="POST">
    <span class='formsHeader'>Sign Up</span>

    <div class="field">
        <input type="text" name="name" placeholder="Enter Name" required>
    </div>

    <div class="field">
        <input type="email" name="email" placeholder="Enter Email" required>
    </div>

    <div class="field">
        <input type="password" name="password" placeholder="Enter Password" required>
    </div>

    <div class="field">
        <input type="password" name="confirmPassword" placeholder="Enter Confirm Password" required>
    </div>

    <div class="field">
        <button type="submit" value="SignIn"> SignUp </button>
    </div>
</form>