<!--<div class="login-signUp">-->

<form class="forms" action="/users/create_session" method="POST">
    <span class='formsHeader'>Log In</span>

    <div class="field">
        <input type="email" name="email" placeholder="Enter Email" required>
    </div>

    <div class="field">
        <input type="password" name="password" placeholder="Enter Password" required>
    </div>

    <div class="field">
        <button type="submit" value="SignIn"> SignIn </button>
    </div>
</form>

<!--</div>-->