<form class="loginForm" action="/users/create_session" method="POST">
    <span class='loginSignUpHeader'>Sign Up</span>

    <div class="field">
        <input type="email" name="email" placeholder="Enter Email" required>
    </div>

    <div class="field">
        <input type="password" name="password" placeholder="Enter Password" required>
    </div>

    <div class="field">
        <input type="password" name="password" placeholder="Enter Confirm Password" required>
    </div>

    <div class="field">
        <button type="submit" value="SignIn"> SignUp </button>
    </div>
</form>