 .studentList-container {
     width: 100%;
     padding: 0;
     margin: 0;
     margin-top: 25px;
     box-sizing: border-box;
     text-align: center;
 }
 
 .batch-name {
     /* font-size: 20px;
     font-family: sans-serif;
     font-weight: 800;
     color: gray;
     margin-top: 0; */
     font-size: 20px;
     text-align: center;
     font-weight: 800;
     line-height: 0;
     color: gray;
     margin: 0;
 }
 
 .student-table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
     padding: 0;
     margin: 0;
 }
 
 .student-table .student-head {
     background-color: gray;
 }
 
 th,
 td {
     text-align: center;
     padding: 10px;
     border: 2px solid black;
 }
 
 th {
     color: white;
 }
 
 .more-details-container {
     padding: 10px 3%;
     /* display: none; */
 }
 
 .course-table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
 }
 
 .course-table thead {
     background-color: rgb(234, 197, 143);
 }
 
 .st-interview-table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
 }
 
 .st-interview-table thead {
     background-color: rgb(234, 197, 143);
 }
 /* background-color: plum; 
 background-color: rgb(234, 197, 143);*/